@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

.trabajador_img {
  width: 272.45px;
  height: 265.6px;
}

.logo {
  width: 120px;
  height: 43.3px;
  position: absolute;
  top: 71px;
  right: 144px;
}

.logo-detallesTrabajdor {
  width: 120px;
  height: 43.3px;
  position: absolute;
  top: 48px;
  right: 64px;
}

.nombre-apellidos-trabajador {
  padding-top: 64px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 58.455px;
  line-height: 72px;
}
.equipo-fecha {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.informacionTrabajador {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 20.25px;
  line-height: 28px;
}

.rol {
  color: #e73f39;
  font-family: Courier Prime;
  font-style: normal;
  font-weight: normal;
  font-size: 22.781px;
  line-height: 32px;
}
.title {
  font-family: Montserrat;
  font-style: normal;
  font-size: 65.758px;
  line-height: 72px;
}

.header-red-text {
  font-family: Courier Prime;
  font-style: normal;
  font-weight: normal;
  font-size: 22.781px;
  line-height: 32px;
  color: #e73f39;
}

.header-text {
  position: static;
  width: 684px;
  height: 64px;
  left: calc(50% - 684px / 2);
  top: calc(50% - 64px / 2);

  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 22.7812px;
  line-height: 32px;

  color: #132631;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
}
