@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
* {
  margin: 0;
  padding: 0;
}

.logo {
  position: absolute;
  width: 120px;
  height: 43.3px;
  left: 1176px;
  top: 41px;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1596px;
}

.logo-detallesTrabajdor {
  position: absolute;
  width: 120px;
  height: 43.3px;
  left: 1256px;
  top: 48px;
}

.trabajador {
  position: absolute;
  width: 1481px;
  height: 1712px;
  left: -3px;
  top: 0px;
}

.informacionTrajador {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 684px;
  height: 476px;
  left: 794px;
  top: 64px;
}

.nombre-apellidos-trabajador {
  position: static;
  width: 684px;
  left: 0px;
  top: 0px;

  font-family: Montserrat;
  font-style: normal;
  font-size: 58.455px;
  line-height: 72px;

  color: #132631;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
}
.container-equipo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 81px;
  height: 24px;
  left: 0px;
}

.cohete {
  position: static;
  left: 0px;
  top: 0px;
  font-size: 23px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 12px;
  transform: rotate(35deg);
}

.equipo-texto {
  position: static;
  height: 24px;
  left: 18.85px;
  top: 11.5px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  color: #132631;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 12px;
}

.container-calendario {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 128px;
  height: 24px;
  left: 175px;
}

.calendario {
  position: static;
  font-size: 23px;
  left: 0px;
  top: 0px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 12px;
}

.calendario-texto {
  position: static;
  height: 24px;
  left: 14.6px;
  top: 11.5px;

  font-family: Montserrat;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #132631;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 12px;
}

.container-texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 579px;
  height: 204px;
  left: 0px;
  top: 272px;

  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 24px 0px;
}

.descripcionTrabajador {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 579px;
  height: 140px;
  left: 0px;

  position: static;
  width: 579px;
  height: 140px;
  left: 0px;
  top: 64px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.sobreTrabajador {
  position: static;
  width: 579px;
  height: 140px;
  left: calc(50% - 579px / 2);
  top: calc(50% - 140px / 2);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 20.25px;
  line-height: 28px;
  color: #132631;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
}

.container-otros-trabajadores {
  position: absolute;
  width: 1440px;
  height: 1005px;
  left: 0px;
  top: 707px;
}

.tecnologia-titulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 48px;

  position: absolute;
  width: 919px;
  height: 92px;
  left: 142px;
  top: 96px;
}

.tituloTecnologia {
  position: static;
  width: 919px;
  height: 44px;
  left: calc(50% - 919px / 2);
  top: calc(50% - 44px / 2 - 24px);

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36.49px;
  line-height: 44px;

  color: #132631;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 12px 0px;
}

.miembros-tecnologia {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 1152px;
  height: 264px;
  left: 144px;
  top: 200px;
}

.miembro-tecnologia {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  flex: none;
  flex-grow: 0;

  margin-right: 30px;
}

.arrow-container {
  position: absolute;
  width: 1269px;
  height: 537px;
  left: 142px;
  top: 550px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.arrow-shape {
  position: absolute;
  width: 92px;
  height: 2px;
  left: -42px;
  top: 28px;
  background: #000000;
  transform: rotate(90deg);
}

p > .arrow {
  margin-top: 50px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.equipo-titulo {
  position: static;
  width: 919px;
  height: 44px;
  left: calc(50% - 919px / 2);
  top: calc(50% - 44px / 2 - 24px);
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36.49px;
  line-height: 44px;
  color: #000000;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 12px 0px;
}

.informacionTrabajador {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 20.25px;
  line-height: 28px;
}

.rol {
  position: static;
  height: 32px;
  left: 0px;
  top: 168px;
  font-family: Courier Prime;
  font-style: normal;
  font-weight: normal;
  font-size: 22.781px;
  line-height: 32px;
  color: #e73f39;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.icons-container {
  position: static;
  width: 593px;
  height: 24px;
  left: 0px;
  top: 224px;

  flex: none;
  order: 2;
  flex-grow: 0;
}

.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 65.758px;
  line-height: 72px;
}

.header-red-text {
  font-family: Courier Prime;
  font-style: normal;
  font-weight: normal;
  font-size: 22.781px;
  line-height: 32px;
  color: #e73f39;
  padding-top: 24px;
}

.body-input-body-text {
  position: absolute;
  width: 765px;
  height: 156px;
  left: 0px;
  top: -10px;
}

.grupo-44 {
  position: absolute;
  width: 765px;
  height: 156px;
  left: 146px;
  top: 224px;
}

.body-text {
  position: absolute;
  width: 684px;
  height: 64px;
  left: 146px;
  top: 224px;
}

.body-text-type {
  position: static;
  width: 684px;
  height: 64px;
  left: calc(50% - 684px / 2);
  top: calc(50% - 64px / 2);

  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 22.78px;
  line-height: 32px;
}

.header {
  position: absolute;
  width: 978px;
  height: 166px;
  left: 0px;
  top: 30px;
}

.header-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 684px;
  height: 366px;
  left: 142px;
  top: 20px;
}
.header-layout-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 684px;
  height: 128px;
  left: 0px;
  top: 0px;
}

.header-text {
  position: static;
  width: 684px;
  height: 64px;
  left: calc(50% - 684px / 2);
  top: calc(50% - 64px / 2);

  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 22.7812px;
  line-height: 32px;

  color: #132631;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
  padding-top: 46px;
}

.searchIcon {
  color: white;
}

.searchInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;

  position: absolute;
  width: 706px;
  height: 60px;
  left: 146px;
  top: 320px;
}

.trabajador_img {
  position: static;
  width: 270px;
  height: 264px;
  left: 0px;
  top: 0px;
}

.trabajador_img:hover {
  width: 270px;
  height: 264px;
  background-image: linear-gradient(90deg, #fedd27);
}

.btn-sumbit {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 851px;
  top: 320px;
  background: #e73f39;
}

.trabajadoresBiko-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 264px;
  height: 264px;
  left: 0px;
  top: 0px;

  flex: none;
  order: 0;
  flex-grow: 0;

  margin-right: 30px;
  margin-bottom: 30px;
}

.fotoTrabajadorBiko {
  position: static;
  width: 723px;
  height: 707px;
  left: 0px;
  top: 0px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  background: #c4c4c4;
}

.picture-grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 1152px;
  height: 852px;
  left: 139.55px;
  top: 454px;
}

.line-grid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  flex-wrap: wrap;

  position: static;
  width: 1180px;
  height: 264px;
  left: 0px;
  top: 0px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 30px 0px;
}

.lista-tecnologias {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 370px;
  height: 32px;
  left: 0px;
  top: 0px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.tecnologia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 12px;

  position: static;
  width: 134px;
  height: 32px;

  top: 0px;
  border: 1px solid #e73f39;
  box-sizing: border-box;
  border-radius: 29px;
  margin: 0px 8px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12.6px;
  line-height: 28px;
  color: #e73f39;
  margin: 0px 10px;
}

.trabajadoresEquipo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 48px;

  position: absolute;
  width: 919px;
  height: 92px;

  top: 670px;
  left: 142px;
}

.mismoEquipo {
  position: absolute;
  width: 858px;
  height: 264px;
  left: 130px;
  top: 750px;
}

.trabajadorEquipo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.errores {
  color: red;
  position: absolute;
  top: 400px;
  left: 142px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 22.78px;
  line-height: 32px;
}

.card:hover .description-layer {
  visibility: visible;
  opacity: 1;
}

.description-layer {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 271px;
  height: 265px;
  background-image: linear-gradient(white, #fedd27);
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  transition: opacity 0.4s, visibility 0.2s;
}

.transition-layer {
  transition: 0.5s;
  transform: translateY(-1em);
}

.card:hover .transition-layer {
  transform: translateY(0);
}

.trabajador-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20.25px;
  line-height: 28px;
  margin-left: 10px;

  color: #000000;
}

.card {
  border: none;
}
